In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("MER_T09_10.csv")
df.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,NGWPUUS,194913,0.06,1,"Natural Gas Price, Wellhead",Dollars per Thousand Cubic Feet
1,NGWPUUS,195013,0.07,1,"Natural Gas Price, Wellhead",Dollars per Thousand Cubic Feet
2,NGWPUUS,195113,0.07,1,"Natural Gas Price, Wellhead",Dollars per Thousand Cubic Feet
3,NGWPUUS,195213,0.08,1,"Natural Gas Price, Wellhead",Dollars per Thousand Cubic Feet
4,NGWPUUS,195313,0.09,1,"Natural Gas Price, Wellhead",Dollars per Thousand Cubic Feet

In [2]:
df.Description.unique()

array(['Natural Gas Price, Wellhead', 'Natural Gas Price, Citygate',
       'Natural Gas Price, Delivered to Consumers, Residential',
       'Percentage of Residential Sector Consumption for Which Price Data Are Available',
       'Natural Gas Price, Delivered to Consumers, Commercial',
       'Percentage of Commercial Sector Consumption for Which Price Data Are Available',
       'Natural Gas Price, Delivered to Consumers, Industrial',
       'Percentage of Industrial Sector Consumption for Which Price Data Are Available',
       'Natural Gas Transportation Sector Price',
       'Natural Gas Price, Electric Power Sector',
       'Percentage of Electric Power Sector Consumption for Which Price Data Are Available'],
      dtype=object)

In [3]:
df.Description = df.Description.apply(lambda x: x.replace('Natural Gas Price, ',''))

In [4]:
df.Description.unique()

array(['Wellhead', 'Citygate', 'Delivered to Consumers, Residential',
       'Percentage of Residential Sector Consumption for Which Price Data Are Available',
       'Delivered to Consumers, Commercial',
       'Percentage of Commercial Sector Consumption for Which Price Data Are Available',
       'Delivered to Consumers, Industrial',
       'Percentage of Industrial Sector Consumption for Which Price Data Are Available',
       'Natural Gas Transportation Sector Price', 'Electric Power Sector',
       'Percentage of Electric Power Sector Consumption for Which Price Data Are Available'],
      dtype=object)

In [5]:
df.Description = df.Description.apply(lambda x: x.replace('Delivered to Consumers, ',''))

In [6]:
df.Description.unique()

array(['Wellhead', 'Citygate', 'Residential',
       'Percentage of Residential Sector Consumption for Which Price Data Are Available',
       'Commercial',
       'Percentage of Commercial Sector Consumption for Which Price Data Are Available',
       'Industrial',
       'Percentage of Industrial Sector Consumption for Which Price Data Are Available',
       'Natural Gas Transportation Sector Price', 'Electric Power Sector',
       'Percentage of Electric Power Sector Consumption for Which Price Data Are Available'],
      dtype=object)

In [7]:
df.Description = df.Description.apply(lambda x: x.replace('Natural Gas Transportation Sector Price','Transportation'))

In [8]:
df.Description = df.Description.apply(lambda x: x.replace('Electric Power Sector','Electric Power'))

In [12]:
df.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,NGWPUUS,194913,0.06,1,Wellhead,Dollars per Thousand Cubic Feet
1,NGWPUUS,195013,0.07,1,Wellhead,Dollars per Thousand Cubic Feet
2,NGWPUUS,195113,0.07,1,Wellhead,Dollars per Thousand Cubic Feet
3,NGWPUUS,195213,0.08,1,Wellhead,Dollars per Thousand Cubic Feet
4,NGWPUUS,195313,0.09,1,Wellhead,Dollars per Thousand Cubic Feet

In [13]:
df = df[(df.Description=='Wellhead')|
        (df.Description=='Citygate')|
        (df.Description=='Residential')|
        (df.Description=='Commercial')|
        (df.Description=='Industrial')|
        (df.Description=='Transportation')|
        (df.Description=='Electric Power')]

In [14]:
df.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,NGWPUUS,194913,0.06,1,Wellhead,Dollars per Thousand Cubic Feet
1,NGWPUUS,195013,0.07,1,Wellhead,Dollars per Thousand Cubic Feet
2,NGWPUUS,195113,0.07,1,Wellhead,Dollars per Thousand Cubic Feet
3,NGWPUUS,195213,0.08,1,Wellhead,Dollars per Thousand Cubic Feet
4,NGWPUUS,195313,0.09,1,Wellhead,Dollars per Thousand Cubic Feet

In [15]:
df = df[['YYYYMM','Value','Description']]

In [16]:
df.columns = ['year','Natural Gas Price','Sector']

In [17]:
df.dtypes

year                  int64
Natural Gas Price    object
Sector               object
dtype: object

In [18]:
df['Natural Gas Price'][df['Natural Gas Price']=='Not Available']=None

In [19]:
df['Natural Gas Price'] = df['Natural Gas Price'].astype('float', errors='ignore')

In [20]:
df.dtypes

year                   int64
Natural Gas Price    float64
Sector                object
dtype: object

In [21]:
df.year = df.year.apply(lambda x: int(str(x)[:-2]))
df = df[df.year>=1973]

In [22]:
df.head()

    year  Natural Gas Price    Sector
24  1973               0.22  Wellhead
25  1974               0.30  Wellhead
26  1975               0.44  Wellhead
27  1976               0.54  Wellhead
28  1976               0.54  Wellhead

In [24]:
df['Natural Gas Price'].min()

0.22

In [25]:
df.to_csv('TREE_MAP.csv',index=False)