In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("MER_T07_01.csv")
df.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,ELEGPUS,194913,291.1,1,"Electricity Net Generation, Electric Power Sector",Billion Kilowatthours
1,ELEGPUS,195013,329.141,1,"Electricity Net Generation, Electric Power Sector",Billion Kilowatthours
2,ELEGPUS,195113,370.673,1,"Electricity Net Generation, Electric Power Sector",Billion Kilowatthours
3,ELEGPUS,195213,399.224,1,"Electricity Net Generation, Electric Power Sector",Billion Kilowatthours
4,ELEGPUS,195313,442.665,1,"Electricity Net Generation, Electric Power Sector",Billion Kilowatthours

In [6]:
df.Description.unique()

array(['Electric Power Sector', 'Commercial Sector', 'Industrial Sector',
       'Total', 'Electricity Imports', 'Electricity Exports',
       'Electricity Net Imports',
       'Transmission and Distribution Losses and Unaccounted for',
       'Electricity Retail Sales, Total', 'Electricity Direct Use',
       'Electricity End Use, Total'], dtype=object)

In [5]:
df.Description = df.Description.apply(lambda x: x.replace('Electricity Net Generation, ',''))

In [7]:
df = df[(df.Description=='Electric Power Sector')|
        (df.Description=='Commercial Sector')|
        (df.Description=='Industrial Sector')]

In [12]:
df.head()

     year Electricity Net Generation                 Sector
0  194913                      291.1  Electric Power Sector
1  195013                    329.141  Electric Power Sector
2  195113                    370.673  Electric Power Sector
3  195213                    399.224  Electric Power Sector
4  195313                    442.665  Electric Power Sector

In [9]:
df = df[['YYYYMM','Value','Description']]

In [11]:
df.columns = ['year','Electricity Net Generation','Sector']

In [23]:
df.dtypes

year                           int64
Electricity Net Generation    object
Sector                        object
dtype: object

In [26]:
df['Electricity Net Generation'][df['Electricity Net Generation']=='Not Available']=None

/Users/marwaoussaifi/anaconda3/envs/ml/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
df['Electricity Net Generation'] = df['Electricity Net Generation'].astype('float', errors='ignore')

In [28]:
df.dtypes

year                            int64
Electricity Net Generation    float64
Sector                         object
dtype: object

In [17]:
df.year = df.year.apply(lambda x: int(str(x)[:-2]))
df = df[df.year>=1973]

In [18]:
df.head()

    year Electricity Net Generation                 Sector
24  1973                    159.913  Electric Power Sector
25  1973                    143.257  Electric Power Sector
26  1973                    147.847  Electric Power Sector
27  1973                    139.292  Electric Power Sector
28  1973                    147.088  Electric Power Sector

In [30]:
df['Electricity Net Generation'].min()

0.202

In [31]:
df.to_csv('HEAT_MAP.csv',index=False)