In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("MER_T03_01.csv")
df.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,PAPRP48,194913,5046.411,1,"Crude Oil Production, 48 States",Thousand Barrels per Day
1,PAPRP48,195013,5407.052,1,"Crude Oil Production, 48 States",Thousand Barrels per Day
2,PAPRP48,195113,6158.112,1,"Crude Oil Production, 48 States",Thousand Barrels per Day
3,PAPRP48,195213,6256.383,1,"Crude Oil Production, 48 States",Thousand Barrels per Day
4,PAPRP48,195313,6457.759,1,"Crude Oil Production, 48 States",Thousand Barrels per Day

In [2]:
df.Description.unique()

array(['Crude Oil Production, 48 States', 'Crude Oil Production, Alaska',
       'Crude Oil Production, Total', 'Natural Gas Liquids Production',
       'Total Petroleum Field Production',
       'Renewable Fuels and Oxygenate Plant Net Production',
       'Petroleum Processing Gain', 'Petroleum Imports',
       'Petroleum Exports', 'Petroleum Net Imports',
       'Petroleum Stock Change', 'Petroleum Adjustments',
       'Petroleum Products Supplied'], dtype=object)

In [4]:
df = df[(df.Description=='Total Petroleum Field Production')|
        (df.Description=='Renewable Fuels and Oxygenate Plant Net Production')|
        (df.Description=='Petroleum Net Imports')|(df.Description=='Petroleum Exports')|
        (df.Description=='Petroleum Stock Change')|(df.Description=='Petroleum Products Supplied')|
        (df.Description=='Petroleum Processing Gain')]

In [11]:
data = pd.DataFrame(columns=['year']+ list(df.Description.unique()))

In [12]:
for col in data.columns[1:]:
    data[col] = np.array(df.Value[df.Description==col])
    data[col] = pd.to_numeric(data[col], errors='coerce')

In [13]:
data['year'] = np.array(df.YYYYMM[df.Description==data.columns[1]])

In [14]:
data.head()

,year,Total Petroleum Field Production,Renewable Fuels and Oxygenate Plant Net Production,Petroleum Processing Gain,Petroleum Exports,Petroleum Net Imports,Petroleum Stock Change,Petroleum Products Supplied
0,194913,5476.784,NaN,-1.603,327.058,318.310,-7.814,5763.038
1,195013,5905.575,NaN,1.951,304.948,545.082,-55.915,6457.918
2,195113,6719.082,NaN,7.255,422.060,422.307,101.345,7016.132
3,195213,6867.079,NaN,6.973,432.208,519.997,108.320,7269.617
4,195313,7111.400,NaN,19.682,401.619,632.625,141.789,7599.627

In [15]:
data.shape

(625, 8)

In [16]:
data.dtypes

year                                                    int64
Total Petroleum Field Production                      float64
Renewable Fuels and Oxygenate Plant Net Production    float64
Petroleum Processing Gain                             float64
Petroleum Exports                                     float64
Petroleum Net Imports                                 float64
Petroleum Stock Change                                float64
Petroleum Products Supplied                           float64
dtype: object

In [17]:
data.year= data.year.apply(lambda x: str(x))

data = data[data.year.str.endswith('13')]

data.year= data.year.apply(lambda x: int(x[:-2]))

In [18]:
data.head()

,year,Total Petroleum Field Production,Renewable Fuels and Oxygenate Plant Net Production,Petroleum Processing Gain,Petroleum Exports,Petroleum Net Imports,Petroleum Stock Change,Petroleum Products Supplied
0,1949,5476.784,NaN,-1.603,327.058,318.310,-7.814,5763.038
1,1950,5905.575,NaN,1.951,304.948,545.082,-55.915,6457.918
2,1951,6719.082,NaN,7.255,422.060,422.307,101.345,7016.132
3,1952,6867.079,NaN,6.973,432.208,519.997,108.320,7269.617
4,1953,7111.400,NaN,19.682,401.619,632.625,141.789,7599.627

In [19]:
data.dtypes

year                                                    int64
Total Petroleum Field Production                      float64
Renewable Fuels and Oxygenate Plant Net Production    float64
Petroleum Processing Gain                             float64
Petroleum Exports                                     float64
Petroleum Net Imports                                 float64
Petroleum Stock Change                                float64
Petroleum Products Supplied                           float64
dtype: object

In [20]:
data.columns

Index(['year', 'Total Petroleum Field Production',
       'Renewable Fuels and Oxygenate Plant Net Production',
       'Petroleum Processing Gain', 'Petroleum Exports',
       'Petroleum Net Imports', 'Petroleum Stock Change',
       'Petroleum Products Supplied'],
      dtype='object')

In [21]:
data = data.reset_index()

In [22]:
data.head()

,year,Total Petroleum Field Production,Renewable Fuels and Oxygenate Plant Net Production,Petroleum Processing Gain,Petroleum Exports,Petroleum Net Imports,Petroleum Stock Change,Petroleum Products Supplied
0,1949,5476.784,NaN,-1.603,327.058,318.310,-7.814,5763.038
1,1950,5905.575,NaN,1.951,304.948,545.082,-55.915,6457.918
2,1951,6719.082,NaN,7.255,422.060,422.307,101.345,7016.132
3,1952,6867.079,NaN,6.973,432.208,519.997,108.320,7269.617
4,1953,7111.400,NaN,19.682,401.619,632.625,141.789,7599.627

In [24]:
data['Total Petroleum Field Production'] = data['Total Petroleum Field Production']/1000

In [26]:
data['Petroleum Exports'] = data['Petroleum Exports']/1000
data['Petroleum Net Imports'] = data['Petroleum Net Imports']/1000

In [27]:
data.to_csv('Petroleum_overview.csv', index=False)