In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("MER_T07_02A.csv")
df.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,CLETPUS,194913,135451.32,1,"Electricity Net Generation From Coal, All Sectors",Million Kilowatthours
1,CLETPUS,195013,154519.994,1,"Electricity Net Generation From Coal, All Sectors",Million Kilowatthours
2,CLETPUS,195113,185203.657,1,"Electricity Net Generation From Coal, All Sectors",Million Kilowatthours
3,CLETPUS,195213,195436.666,1,"Electricity Net Generation From Coal, All Sectors",Million Kilowatthours
4,CLETPUS,195313,218846.325,1,"Electricity Net Generation From Coal, All Sectors",Million Kilowatthours

In [2]:
df.Description.unique()

array(['Electricity Net Generation From Coal, All Sectors',
       'Electricity Net Generation From Petroleum, All Sectors',
       'Electricity Net Generation From Natural Gas, All Sectors',
       'Electricity Net Generation From Other Gases, All Sectors',
       'Electricity Net Generation From Nuclear Electric Power, All Sectors',
       'Electricity Net Generation From Hydroelectric Pumped Storage, All Sectors',
       'Electricity Net Generation From Conventional Hydroelectric Power, All Sectors',
       'Electricity Net Generation From Wood, All Sectors',
       'Electricity Net Generation From Waste, All Sectors',
       'Electricity Net Generation From Geothermal, All Sectors',
       'Electricity Net Generation From Solar, All Sectors',
       'Electricity Net Generation From Wind, All Sectors',
       'Electricity Net Generation Total (including from sources not shown), All Sectors'],
      dtype=object)

In [3]:
df.Description = df.Description.apply(lambda x: x.replace('Electricity Net Generation From ',''))

df.Description.unique()

array(['Coal, All Sectors', 'Petroleum, All Sectors',
       'Natural Gas, All Sectors', 'Other Gases, All Sectors',
       'Nuclear Electric Power, All Sectors',
       'Hydroelectric Pumped Storage, All Sectors',
       'Conventional Hydroelectric Power, All Sectors',
       'Wood, All Sectors', 'Waste, All Sectors',
       'Geothermal, All Sectors', 'Solar, All Sectors',
       'Wind, All Sectors',
       'Electricity Net Generation Total (including from sources not shown), All Sectors'],
      dtype=object)

In [4]:
df.Description = df.Description.apply(lambda x: x.replace(', All Sectors',''))

df.Description.unique()

array(['Coal', 'Petroleum', 'Natural Gas', 'Other Gases',
       'Nuclear Electric Power', 'Hydroelectric Pumped Storage',
       'Conventional Hydroelectric Power', 'Wood', 'Waste', 'Geothermal',
       'Solar', 'Wind',
       'Electricity Net Generation Total (including from sources not shown)'],
      dtype=object)

In [5]:
df.Description[(df.Description=='Wood') |(df.Description=='Waste') | (df.Description=='Geothermal')|
               (df.Description=='Solar') |(df.Description=='Wind')|
               (df.Description=='Conventional Hydroelectric Power')]='Renewable Energy'

/Users/marwaoussaifi/anaconda3/envs/ml/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
df.Description.unique()

array(['Coal', 'Petroleum', 'Natural Gas', 'Other Gases',
       'Nuclear Electric Power', 'Hydroelectric Pumped Storage',
       'Renewable Energy',
       'Electricity Net Generation Total (including from sources not shown)'],
      dtype=object)

In [7]:
drop_indices = np.array(np.where(df.Description == 'Electricity Net Generation Total (including from sources not shown)')[0])
df = df.reset_index()
df = df.drop(drop_indices, axis=0)

In [8]:
df.Description.unique()

array(['Coal', 'Petroleum', 'Natural Gas', 'Other Gases',
       'Nuclear Electric Power', 'Hydroelectric Pumped Storage',
       'Renewable Energy'], dtype=object)

In [11]:
df = df.drop(columns=['index'])

In [12]:
df.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,CLETPUS,194913,135451.32,1,Coal,Million Kilowatthours
1,CLETPUS,195013,154519.994,1,Coal,Million Kilowatthours
2,CLETPUS,195113,185203.657,1,Coal,Million Kilowatthours
3,CLETPUS,195213,195436.666,1,Coal,Million Kilowatthours
4,CLETPUS,195313,218846.325,1,Coal,Million Kilowatthours

In [13]:
df = df[['YYYYMM','Value','Description']]

In [20]:
df.columns=['year','Electricity_Generated', 'Source']

In [21]:
df.head()

   year Electricity_Generated Source
0  1949             135451.32   Coal
1  1950            154519.994   Coal
2  1951            185203.657   Coal
3  1952            195436.666   Coal
4  1953            218846.325   Coal

In [16]:
df.dtypes

year                      int64
Electricity Generated    object
Source                   object
dtype: object

In [17]:
df.year= df.year.apply(lambda x: str(x))

df = df[df['year'].str.endswith('13')]
df.head()

     year Electricity Generated Source
0  194913             135451.32   Coal
1  195013            154519.994   Coal
2  195113            185203.657   Coal
3  195213            195436.666   Coal
4  195313            218846.325   Coal

In [18]:
df.year= df.year.apply(lambda x: int(x[:-2]))
df.dtypes

year                      int64
Electricity Generated    object
Source                   object
dtype: object

In [22]:
df.head()

   year Electricity_Generated Source
0  1949             135451.32   Coal
1  1950            154519.994   Coal
2  1951            185203.657   Coal
3  1952            195436.666   Coal
4  1953            218846.325   Coal

In [26]:
df.Electricity_Generated[df.Electricity_Generated=='Not Available'] = None

/Users/marwaoussaifi/anaconda3/envs/ml/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
df.Electricity_Generated = df.Electricity_Generated.astype('float', errors='ignore')

In [28]:
df.dtypes

year                       int64
Electricity_Generated    float64
Source                    object
dtype: object

In [29]:
df.head()

   year  Electricity_Generated Source
0  1949             135451.320   Coal
1  1950             154519.994   Coal
2  1951             185203.657   Coal
3  1952             195436.666   Coal
4  1953             218846.325   Coal

In [31]:
df.Electricity_Generated = df.Electricity_Generated/1000

In [32]:
df.to_csv('electricity_production.csv', index=False)